<span class="label label-primary" style="height: 100%;font:bold;font: 15px arial, sans-serif;" >Leave</span>


<div ng-controller="leaveCtrl">
<form name="leaveForm" ng-submit="createLeave(leave)" novalidate class="form-horizontal">
<div class="well well-md">
<h2 ng-show="leave._id!=null">Edit</h2>
<h2 ng-hide="leave._id!=null">Create</h2>
<div class="row">
 		<div >
              <label>Resource Name:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <!-- <input type="text" ng-model="leave.resourcename" name="resourcename" ng-required="true" class="form-control" style="width:300px"/> -->
			   <select ng-model="leave.resourcename">
				  <option ng-repeat="x in resourceList" value="{{x.resourcename}}">{{x.resourcename}}</option>
			  </select>
              <p ng-show="leaveForm.resourcename.$error.required && (leaveForm.$submitted)" class="text-danger">Please Enter Resource Name </p>
			   
			   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			   <label>Region:</label>&nbsp;&nbsp;&nbsp;
			   <select ng-model="leave.regionname">
				  <option ng-repeat="x in regionList" value="{{x.regionname}}">{{x.regionname}}</option>
			  </select>
			  <p ng-show="leaveForm.regionname.$error.required && (leaveForm.$submitted)" class="text-danger">Please Select Region Name</p>
        </div>
		
		<div>
		 <label>Start  Date:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <input type="text" ng-model="leave.startDate" id = "startDateID" name="startDate" ng-required="true" class="form-control"/>
              <img src="..\assets\images\calendar-icon.png">
              <p ng-show="leaveForm.startDate.$error.required && (leaveForm.$submitted)" class="text-danger">Please Enter Start Date</p>
          
		 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

		 <label>End  Date:</label>
              <input type="text" ng-model="leave.endDate" id = "endDateID" name="endDate" ng-required="true" class="form-control"/>
              <img src="..\assets\images\calendar-icon.png">
              <p ng-show="leaveForm.endDate.$error.required && (leaveForm.$submitted)" class="text-danger">Please Enter End Date</p>
             

            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;			 
			<label>No of days leaves:&nbsp;&nbsp;&nbsp;&nbsp; </label>
			<input type="text" style="width:50px;" name="numberOfLeaves" ng-model="leave.numberOfLeaves" ng-value="difference(leave.startDate, leave.endDate)"  disabled>
		</div>
		
			
	</div>

      <div align="right"> 
            <input type="submit" value="Update" ng-click="saveData(leave)" class="btn btn-primary" ng-show="leave._id!=null"/>
            <input type="submit" value="Create" class="btn btn-primary" ng-hide="leave._id!=null"/>             
            <button class="btn btn-warning" ng-click="clearFields()" type="button">Clear</button>                  
      </div>
</div>

</form> 
<div class="well well-md" style="border: 1px">
			<div class="panel panel-default panel-table">

				<div class="table-responsive">
					<table class="table" cellspacing="0" width="100%">
						<thead>
							<tr style="background-color:grey">
								<th >Serial No.</th>
								<th >Resource name</th>
								<th >Region</th>
								<th >Start Date</th>
								<th >End Date</th>
								<th >Number of Leaves</th>
								<th >Action</th>			   
							</tr>
              </thead>
              <tbody>
              <tr ng-repeat="x in mongoLeaveData">
                <td>{{ $index + 1 }}</td>
                <td>{{ x.resourcename }}</td>
				<td>{{ x.regionname }}</td>
				<td>{{ x.startDate | date : "dd-MMM-yy" }}</td>
				<td>{{ x.endDate | date : "dd-MMM-yy" }}</td>
				<td>{{ x.numberOfLeaves}}</td>
                <td>
                      <a  ng-click="editLeave(x._id)">Edit</a> |
                      <a  ng-click="deleteLeave(x._id)">Delete</a>
                </td>
              </tr>
						  </tbody>
					</table>
					
				</div>
		   </div>
</div>

</div>    

<style>
     /* tr:nth-of-type(odd) {
      background-color:#FCF8E3;
    } */
    tr:nth-of-type(even) {
      background-color:#FCF8E3;
    } 
</style>

<script>
   $(function() {
      $( "#startDateID" ).datepicker({
         //appendText:"(dd-MMM-yy)",
         dateFormat:"dd-MM-yy",
         minDate: new Date()
         //showOn:"button",
         //buttonImage: "/images/calendar-icon.png",
         //buttonImageOnly: true
      });
	  
	  $( "#endDateID" ).datepicker({
         //appendText:"(dd-MMM-yy)",
         dateFormat:"dd-MM-yy",
         minDate: new Date()
         //showOn:"button",
         //buttonImage: "/images/calendar-icon.png",
         //buttonImageOnly: true
      });
   });
</script>
