<div ng-controller="projectCtrl">
<form name="projectForm" ng-submit="createProject(project)" novalidate>
<legend>Project (
  <label ng-show="project._id!=null">Edit</label>
  <label ng-hide="project._id!=null">Create</label>)
</legend>
<div class="panel panel-info">
		<div class="panel-heading">
			<div class="row">	
				    <div class='col-sm-3'>
					   <div  class=form-group>
					     <label>Project:</label>
						 <input type="text" ng-model="project.projectname" name="projectname" ng-required="true" class="form-control input-sm {{errorClass}}"/>
					   </div>
					</div>
					<div class='col-sm-3'>
					   <div  class=form-group>
					     <label>Region:</label>
						 <select ng-model="project.regionname" class="form-control input-sm {{errorClass}}">
							  <option ng-repeat="x in regionList" value="{{x.regionname}}">{{x.regionname}}</option>
						  </select>
					   </div>
					</div>
					<div class='col-sm-3'>
					   <div  class=form-group>
					     <label for="manager">Engagement Manager</label>
						 <select ng-model="project.manager" id="manager"  class="form-control input-sm {{errorClass}}">
						  <option ng-repeat="x in resourceList" value="{{x.resourcename}}">{{x.resourcename }}</option>
					   </select>
					   </div>
					</div>
				</div>
				<div class="row">				
				    <div class='col-sm-3'>
					   <div  class=form-group>
					     <label>Start  Date:</label>
						 <input type="text" ng-model="project.startDate" id = "startDateID" name="startDate" ng-required="true" class="form-control input-sm {{errorClass}}" jqdatepicker/>
					   </div>
					</div>
					<div class='col-sm-3'>
					   <div  class=form-group>
					     <label>End  Date:</label>
						 <input type="text" ng-model="project.endDate" id = "endDateID" name="endDate" ng-required="true" class="form-control input-sm {{errorClass}}" jqdatepicker/>
					   </div>
					</div>				   
				</div>
				
				<div class='row'>      
					  <div class='col-sm-12'>
						<div align="right"> 
						  <input type="submit" value="Update" ng-click="saveData(project)" class="btn btn-primary" ng-show="project._id!=null"/>
						  <input type="submit" value="Create" class="btn btn-primary" ng-hide="project._id!=null"/>             
						  <button class="btn btn-warning" ng-click="clearFields()" type="button">Clear</button>
						 </div>
					  </div>
               </div>

		</div>

		<div class="panel-body" ng-show="loading || successMsg || errorMsg">
			<div class="row" >
			  <div class='col-sm-12'>
					<div class="jumbotron text-center" ng-show="loading">
					  <span class="glyphicon glyphicon-repeat spinner"></span>
					  <p>Loading...</p>
					</div>
					<div class="row show-hide-message" ng-show="successMsg">
					  <div class="alert alert-success">{{successMsg}}</div>
					</div>
					<div class="row show-hide-message" ng-show="errorMsg">
					  <div class="alert alert-danger">{{errorMsg}}</div>
					</div>
				</div>
			</div>
		 </div>


       <!-- Modal -->
  <div class="modal fade" id="confirmModal" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header bg-primary">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Are you sure to delete the record?</h4>
        </div>
        <div class="modal-body">
          <p>Record will be deleted permanently.</p>
          <input class="form-control" type="text" id="msgID" ng-model="msg"  disabled/>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal"
             ng-click="cancel($event)">Cancel</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal"
             ng-click="delete($event)" >Yes</button>
        </div>
      </div>      
    </div>
  </div>

  <div class='panel-body' align="right">
    <input type="button" value="Export to Excel" ng-click="exportToExcel()" class="btn btn-primary"/>
  </div>

		<div class="panel-footer">
						<div class="panel-body">
							<table class="table table-striped table-curved" cellspacing="0" width="100%" datatable="ng" dt-options="vm.dtOptions" dt-instance="vm.dtInstance">
                               <thead class="bg-primary">
									<tr>
										<th >Serial No.</th>
										<th >Project name</th>
										<th >Region</th>
						                <th >Engagement manager</th>
										<th >Start Date</th>
										<th >End Date</th>
										<th >Action</th>				   
									</tr>
					  </thead>
					  <tbody>
					  <tr ng-repeat="x in mongoProjectData">
						<td>{{ $index + 1 }}</td>
						<td>{{ x.projectname }}</td>
								<td>{{ x.regionname }}</td>
						<td>{{ x.manager }}</td>
								<td>{{ x.startDate | date : "dd-MMM-yy" }}</td>
								<td>{{ x.endDate | date : "dd-MMM-yy" }}</td>
						<td>
							  <a  class="btn btn-primary" ng-click="editProject(x._id)">Edit</a> 
							  <a  class="btn btn-primary" data-toggle="modal" 
                                  ng-click="deleteConfirmation(x._id,'Project:'+x.projectname+',Region:'+x.regionname+',Manager:'+x.manager)">Delete</a>
						</td>
					  </tr>
								  </tbody>
							</table>
							
						</div>
		</div>
</div>
</form> 
</div>    


<script>
   $(function() {
      $( "#startDateID" ).datepicker({
         //appendText:"(dd-MMM-yy)",
         dateFormat:"dd-MM-yy",
         minDate: new Date()
         //showOn:"button",
         //buttonImage: "/images/calendar-icon.png",
         //buttonImageOnly: true
      });
	  
	  $( "#endDateID" ).datepicker({
         //appendText:"(dd-MMM-yy)",
         dateFormat:"dd-MM-yy",
         minDate: new Date()
         //showOn:"button",
         //buttonImage: "/images/calendar-icon.png",
         //buttonImageOnly: true
      });
   });
</script>
