<span class="label label-primary" style="height: 100%;font:bold;font: 15px arial, sans-serif;" >Resource Type</span>


<div ng-controller="resourceTypeCtrl">
<form name="resourceTypeForm" ng-submit="createResourceType(resourceType)" novalidate class="form-horizontal">
<div class="well well-md">
<h2 ng-show="resourceType._id!=null">Edit</h2>
<h2 ng-hide="resourceType._id!=null">Create</h2>
<div class="row">
 		
	
 			  <div style="padding-right:25px; padding-left:35px">
              <label>Resource Type:</label>&nbsp;&nbsp;&nbsp;
              <input type="text" ng-model="resourceType.resourceTypename" name="resourceTypename" ng-required="true" class="form-control" style="width:300px"/>
              <p ng-show="resourceTypeForm.resourceTypename.$error.required && (resourceTypeForm.$submitted)" class="text-danger">Please Enter Resource Type </p>
        </div>
			 
			
			
	</div>

  
      
      <div align="right"> 
            <input type="submit" value="Update" ng-click="saveData(resourceType)" class="btn btn-primary" ng-show="resourceType._id!=null"/>
            <input type="submit" value="Create" class="btn btn-primary" ng-hide="resourceType._id!=null"/>             
            <button class="btn btn-warning" ng-click="clearFields()" type="button">Clear</button>                  
      </div>
</div>

</form> 
<div class="well well-md" style="border: 1px">
			<div class="panel panel-default panel-table">

				<div class="table-responsive">
					<table class="table" cellspacing="0" width="100%">
						<thead>
							<tr style="background-color:grey">
                <th >Serial No.</th>
				<th >Resource Type</th>
                <th >Action</th>				   
							</tr>
              </thead>
              <tbody>
              <tr ng-repeat="x in mongoResourceTypeData">
                <td>{{ $index + 1 }}</td>
                <td>{{ x.resourceTypename }}</td>
                <td>
                      <a  ng-click="editResourceType(x._id)">Edit</a> |
                      <a  ng-click="deleteResourceType(x._id)">Delete</a>
                </td>
              </tr>
			</tbody>
		   </table>
					
		  </div>
		</div>
</div>

</div>    

<style>
     /* tr:nth-of-type(odd) {
      background-color:#FCF8E3;
    } */
    tr:nth-of-type(even) {
      background-color:#FCF8E3;
    } 
</style>
