<div ng-controller="graphsController">
  <form name="skillsetGraph">
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="row">
          <div class='col-sm-1'>Graph :</div>
          <div class='col-sm-3'>
            <select id="graphid" class="form-control input-sm" ng-model="graphid" ng-init="inputVal='All'" ng-change="graphidchange()">
              <!-- <option value="Resource Capacity" selected>Total Resource Capacity</option>
              <option value="Skillset Capacity">Total Skillset Capacity</option>
              <option value="Remaining Resource Capacity">Monthly Resource Utilization</option> -->
              <option value="ProjectMDS">Project Demand & Pipeline (MDs)</option>
              <option value="AvlCapcitySkill">Available Capacity Per Skillset (MDs)</option>
              <option value="DemandCapacity">Demand & Capacity View (MDs)</option>
            </select>
          </div>
          <!-- <div class='col-sm-1'>Country :</div>
          <div class='col-sm-3'>
            <select id="locationId" class="form-control input-sm" ng-model="locationId" ng-init="inputVal='All'" ng-change="countrychange()">
              <option ng-repeat="x in LocationData" value="{{x.locationname}}">{{x.locationname}}
              </option>
              <option value="All">All Locations</option>
           </select>
           </div> -->
          <div class="col-sm-1">
            <label>Start Date:</label>
          </div>
          <div class="col-sm-3">
            <div class="input-group date form_date " data-date-format="dd MM yyyy" data-link-format="yyyy-mm-dd">
              <input class="form-control" type="text" ng-model="startDate" ng-change="graphidchange();" readonly>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
          <div class="col-sm-1">
            <label>End Date:</label>
          </div>
          <div class="col-sm-3">
            <div class="input-group date form_date " data-date="" data-date-format="dd MM yyyy" data-link-format="yyyy-mm-dd">
              <input class="form-control" type="text" ng-model="endDate" ng-change="graphidchange();" readonly>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
          <div class="col-sm-1">
            <label>Project:</label>
          </div>
          <div class="col-sm-3">
              <!-- <select id="resource-select" id="resource" class="form-control input-sm" ng-model="resource" ng-change="graphidchange()" required multiple="multiple" multi-select class="form-control"></select> -->
            <select id="project-select"  ng-init="inputVal='ALL'"  ng-model="projectSelect"  required multiple="multiple" multi-select ng-change="graphidchange()" class="form-control" >

              <!-- <option ng-repeat="x in project" value="{{x.projectname}}">{{x.projectname}}</option> -->
            </select>
          </div>
          <div class="col-sm-1 col-md-offset-4">
            <label>Technology:</label>
          </div>
          <div class="col-sm-3 span">
            <select id="skill-select" class="form-control input-sm" ng-model="skillSelect" ng-init="inputVal='ALL'" ng-change="graphidchange()">
              <option value="ALL">All Skills</option>
              <option ng-repeat="x in skillSetList" value="{{x.skillname}}">{{x.skillname}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <div id="graphDiv" class="panel-body" style="display:none">
          <div align="right">
            <a href="#" id="download">Download as image</a>
          </div>
          <div class="row">
            <div id="ChartContainer">
              <div id="chartSubContainer"></div>
            </div>
          </div>

          <table class="table  table-curved" cellspacing="0" width="100%">
            <thead class="bg-primary">
              <tr>
                <th></th>
                <th style="text-align: center;" ng-repeat="record in GraphData.months">{{record}}</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="record in GraphData">
                <td style="text-align: center;">
                  <span style="background-color:{{record.backgroundColor}}; width: 50px; height: 10px;display: inline-block;"></span>
                  <span>{{record.label}}</span>
                </td>
                <td style="text-align: center" ; ng-repeat="total in record.data track by $index">{{total}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="container" id="spinner">
					<div ng-if="ShowSpinnerStatus" class="loader"></div>
				</div>
      </div>
    </div>
</div>
</form>

<script>
   $('#project-select').multiselect();
  $('.form_date').datetimepicker({
    format: "mm/yyyy",
    startView: "year",
    minView: "year",
    autoclose: 1,
    startDate: '1m'

  });

</script>
<style>
  .loader {
				border: 16px solid #f3f3f3; /* Light grey */
				border-top: 16px solid #3498db; /* Blue */
				border-radius: 50%;
				width: 120px;
				height: 120px;
				animation: spin 2s linear infinite;
				margin: 0 auto;
			}

			@keyframes spin {
				0% { transform: rotate(0deg); }
				100% { transform: rotate(360deg); }
			}
			html, body, container {
				height: 100%;
				width: 100%;
				margin: 0;
			}
</style>

<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
