<div ng-controller="graphsController">
<legend>Location Wise Graphs</legend>
<form name="skillsetGraph" >
<div class="panel panel-info">
    <div class="panel-heading">
		<div class="row">
       	  <div class='col-sm-1'>Graph :</div>
          <div class='col-sm-3'>
            <select id="graphid" class="form-control input-sm" ng-model="graphid" ng-init="inputVal='All'" ng-change="graphidchange()">
              <option value="Resource Capacity" selected>Total Resource Capacity</option>
              <option value="Skillset Capacity">Total Skillset Capacity</option>
              <option value="Remaining Resource Capacity">Monthly Resource Utilization</option>
           </select>
           </div>
           <div class='col-sm-1'>Country :</div>
          <div class='col-sm-3'>
            <select id="locationId" class="form-control input-sm" ng-model="locationId" ng-init="inputVal='All'" ng-change="countrychange()">
              <option ng-repeat="x in LocationData" value="{{x.locationname}}">{{x.locationname}}
              </option>
              <option value="All">All Locations</option>
           </select>
           </div>
       	</div>
    </div>
    <div class="panel-body">
        <div class="row" >
          <div class='col-sm-12'>
          <div id="ChartContainer">
             <div id="chartSubContainer"></div>
            
          </div>
          	<!--<canvas id="SkillsetChart">Chart Content Area</canvas>-->
          </div>
        </div>
    </div>
     <div class="panel-footer">

     </div>

</div>
</form>