
<style>

    .color-box {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #ccc;
    position: absolute;
    left: 5px;
    top: 5px;
  }
  
  </style>
<div ng-controller="graphsController">
  <form name="skillsetGraph">
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="row">
          <div class='col-sm-1'>Graph :</div>
          <div class='col-sm-3'>
            <select id="graphid" class="form-control input-sm" ng-model="graphid" ng-init="inputVal='All'" ng-change="graphidchange()">
              <!-- <option value="Resource Capacity" selected>Total Resource Capacity</option>
              <option value="Skillset Capacity">Total Skillset Capacity</option>
              <option value="Remaining Resource Capacity">Monthly Resource Utilization</option> -->
              <option value="ProjectMDS">Project Mandays</option>
            </select>
          </div>
          <!-- <div class='col-sm-1'>Country :</div>
          <div class='col-sm-3'>
            <select id="locationId" class="form-control input-sm" ng-model="locationId" ng-init="inputVal='All'" ng-change="countrychange()">
              <option ng-repeat="x in LocationData" value="{{x.locationname}}">{{x.locationname}}
              </option>
              <option value="All">All Locations</option>
           </select>
           </div> -->
          <div class="col-sm-1">
            <label>Start Date:</label>
          </div>
          <div class="col-sm-3">
            <div class="input-group date form_date " data-date-format="dd MM yyyy" data-link-format="yyyy-mm-dd">
              <input class="form-control" type="text" ng-model="startDate" ng-change="graphidchange();" readonly>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
          <div class="col-sm-1">
            <label>End Date:</label>
          </div>
          <div class="col-sm-3">
            <div class="input-group date form_date " data-date="" data-date-format="dd MM yyyy" data-link-format="yyyy-mm-dd">
              <input class="form-control" type="text" ng-model="endDate" ng-change="graphidchange();" readonly>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
          <div class="col-sm-1">
            <label>Project:</label>
          </div>
          <div class="col-sm-3">
            <select id="projectId" class="form-control input-sm" ng-model="projectSelect" ng-init="inputVal='All'" ng-change="graphidchange()">
              <option value="ALL">All Projects</option>
              <option ng-repeat="x in project" value="{{x.projectname}}">{{x.projectname}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <div id="graphDiv" class="panel-body" style="display:none">
          <div align="right"><a href="#" id="download">Download as image</a></div>
          <div class="row">
            <div id="ChartContainer">
              <div id="chartSubContainer"></div>
            </div>
          </div>
          
          <table class="table  table-curved" cellspacing="0" width="100%">
            <thead class="bg-primary">
              <tr>
                <th></th>
                <th style="text-align: center;" ng-repeat="record in GraphData.months">{{record}}</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="record in GraphData">
                <td style="text-align: center;"><span  style="background-color:{{record.backgroundColor}}; width: 50px; height: 10px;display: inline-block;"></span>
                  {{record.label}}
                </td>
                <td style="text-align: center;"" ng-repeat="total in record.data track by $index">{{total}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>

</form>

<script>
  $('.form_date').datetimepicker({
    format: "mm/yyyy",
    startView: "year",
    minView: "year",
    autoclose: 1,
    startDate: '1m'
    
  });

</script>
