<div ng-controller="resourceMappingCtrl">
  <form name="resourceMappingForm" ng-submit="createResourceMapping(resourcemap)" novalidate>
    <legend>Resource mapping (
      <label ng-show="resourcemap._id!=null">Edit</label>
      <label ng-hide="resourcemap._id!=null">Create</label>)
    </legend>
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class='row'>
          <div class='col-sm-3'>
            <div class=form-group>
              <label for="resourcename">Resource Name</label>

              <select ng-show="resourcemap._id==null" ng-model="resourcemap.mappedResource" ng-options="x.resourcename for x in resourceList"
                class="form-control input-sm {{errorClass}}">
                  </select>

              <input ng-show="resourcemap._id!=null" id="resourcename" ng-model="resourcemap.mappedResource.resourcename" type="text" disabled
                class="form-control input-sm" />
            </div>
          </div>

          <div class='col-sm-3'>
            <div class=form-group>
              <label for="alias">Alias </label>
              <input id="alias" ng-model="resourcemap.mappedResource.alias" required="true" type="text" disabled class="form-control input-sm {{errorClass}}"
              />
            </div>
          </div>

          <div class='col-sm-3'>
            <div class=form-group>
              <label for="designation">Designation</label>
              <input id="designation" ng-model="resourcemap.mappedResource.designation" required="true" type="text" disabled class="form-control input-sm {{errorClass}}"
              />
            </div>
          </div>

          <div class='col-sm-3'>
            <!--<div  class=form-group>
            <label for="role">Role</label>
            <select ng-model="resourcemap.role" id="role" class="form-control">
              <option ng-repeat="x in roleList" value="{{x.rolename}}">{{x.rolename}}</option>
           </select>
           </div>-->
            <div class=form-group>
              <label for="resourceType">Type</label>
              <select ng-model="resourcemap.resourceType" id="resourceType" class="form-control input-sm {{errorClass}}">
              <option ng-repeat="x in resourceTypeList" value="{{x.resourceTypename}}">{{x.resourceTypename}}</option>
           </select>
            </div>
          </div>
        </div>

        <div class='row'>

          <div class='col-sm-3'>
            <div class=form-group>
              <label for="location">Location</label>
              <select ng-model="resourcemap.location" id="location" class="form-control input-sm {{errorClass}}">
              <option ng-repeat="x in locationList" value="{{x.locationname}}">{{x.locationname}}</option>
           </select>
            </div>
          </div>
          <div class='col-sm-3'>
            <div class=form-group>
              <label for="region">Region</label>
              <select ng-model="resourcemap.region" id="region" class="form-control input-sm {{errorClass}}">
              <option ng-repeat="x in regionList" value="{{x.regionname}}">{{x.regionname}}</option>
           </select>
            </div>
          </div>

          <div class='col-sm-3'>
            <div class=form-group>
              <label for="skill">Skill</label>
              <select ng-model="resourcemap.skill" id="skill" class="form-control input-sm {{errorClass}}">
              <option ng-repeat="x in skillSetList" value="{{x.skillname}}">{{x.skillname}}</option>
           </select>
            </div>
          </div>


          <div class='col-sm-3'>
            <div class=form-group>
              <label for="status">Status</label>
              <select ng-model="resourcemap.status" id="status" class="form-control input-sm {{errorClass}}">
              <option ng-repeat="x in statusList" value="{{x.statusname}}">{{x.statusname}}</option>
           </select>
            </div>
          </div>

        </div>
        <div class='row'>
          <div class='col-sm-3'>
            <div class=form-group>
              <label for startDate>Tagged Start Date:</label>
              <input type="text" ng-model="startDate" id="startDate" class="form-control" ng-change="createMapping();" />
            </div>
       
            <!-- <div class="form-group">

                <div class="input-group date form_date col-md-5" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                    <input class="form-control" size="16" type="text" value="" readonly>
   					        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>

            </div> -->



          </div>
          <div class='col-sm-3'>
            <div class=form-group>
              <label for endDate>Tagged End Date:</label>
              <input type="text" ng-model="endDate" id="endDate" class="form-control" ng-change="createMapping();" />
            </div>
          </div>
        </div>

        <div class="panel-body" style="overflow-x: scroll; overflow-y:visible; visibility:{{hidden}}">
          <b>%Tagged </b>
          <table class="table table-striped table-curved" cellspacing="0">
            <thead>
              <tr class="danger">
                <th ng-repeat="column in taggedToEuroclearList">{{column}}</th>
              </tr>
              <thead>
                <tbody>
                  <tr>
                    <td ng-repeat="column in taggedToEuroclearList track by $index">
                      <input id="taggToEuroclear{{column}}" ng-model="resourcemap.taggToEuroclear[$index].value" required="true" type="text" maxlength="3"
                        size="5" class="form-control input-sm {{errorClass}}" ng-change="validateInput(this,resourcemap.taggToEuroclear[$index].value)"
                      />
                    </td>
                  </tr>
                </tbody>
          </table>
        </div>

        <div class='row'>
          <div class='col-sm-12'>
            <div align="right">
              <input type="submit" value="Update" ng-click="saveData(resourcemap)" class="btn btn-primary" ng-show="resourcemap._id!=null"
              />
              <input type="submit" value="Create" class="btn btn-primary" ng-hide="resourcemap._id!=null" />
              <button class="btn btn-warning" ng-click="clearFields()" type="button">Clear</button>
            </div>
          </div>
        </div>


      </div>

      <div class="panel-body" ng-show="loading || successMsg || errorMsg">
        <div class="row">
          <div class='col-sm-12'>
            <div class="jumbotron text-center" ng-show="loading">
              <span class="glyphicon glyphicon-repeat spinner"></span>
              <p>Loading...</p>
            </div>
            <div class="row show-hide-message" ng-show="successMsg">
              <div class="alert alert-success">{{successMsg}}</div>
            </div>
            <div class="row show-hide-message" ng-show="errorMsg" >
              <div class="alert alert-danger" ng-repeat="errorMsg in errorMsgs track by $index">{{errorMsg}}</div>
            </div>
           
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <div class="panel-body">
          <table class="table table-striped table-curved" cellspacing="0" width="100%" datatable="ng" dt-options="vm.dtOptions" dt-instance="vm.dtInstance">
            <thead class="bg-primary">
              <tr>
                <th></th>
                <th>Resource Name</th>
                <th>Kin ID</th>
                <!-- <th>Resource Type</th> -->
                <th>Year</th>
                <!-- <th>Region</th> -->
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="x in filterResourceWithYear">
                <td align="center"><a class="green shortinfo" href="javascript:;" ng-click="childInfo(x.mappedResource.resourcename,x.year, $event)"
                    title="Click to view more"><i class="glyphicon glyphicon-plus-sign"></a></td>
                <td>{{x.mappedResource.resourcename}}</td>
                <td>{{x.mappedResource.kinId}}</td>
                <td>{{x.year}}</td>
                <!-- <td>{{x.region}}</td> -->
                <td>{{ x.status }}</td>
                <td>
                  <a ng-click="editResourceMapping()">Edit</a> |
                  <a ng-click="deleteResourceMapping()">Delete</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </form>
</div>

<script>
  $("#startDate").datepicker({
    //appendText:"(dd-MMM-yy)",
    dateFormat: "dd-MM-yy",
    minDate: new Date()
    //showOn:"button",
    //buttonImage: "/images/calendar-icon.png",
    //buttonImageOnly: true
  });

  $("#endDate").datepicker({
    //appendText:"(dd-MMM-yy)",
    dateFormat: "dd-MM-yy",
    minDate: new Date()
    //showOn:"button",
    //buttonImage: "/images/calendar-icon.png",
    //buttonImageOnly: true
  });

  $('.form_date').datetimepicker({
        language:  'fr',
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		minView: 2,
		forceParse: 0
    });
</script>
