<div class="inner container-fluid">
  <div class="panel-body">
    <div ng-repeat="tagEuro in resourcemap">
      <table class="table table-striped table-curved" cellspacing="0" width="100%">
        <thead>
          <tr>
            <div align="right"><input name="action" type="checkbox" value="{{tagEuro._id}}">Action</div>
            <h4><span class="label label-primary"><b>%Tagged   -  {{tagEuro.resourceType}}</b></span></h4>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th style="text-align: center; background-color:cyan;color:blue;" ng-repeat="column in tagEuro.taggToEuroclear">{{column.key}}</th>
          </tr>
          <tr>
            <th style="text-align: center;color:green" ng-repeat="column in tagEuro.taggToEuroclear">{{column.value}}%</th>
          </tr>
        </tbody>
      </table>

      <table class="table table-striped table-curved" cellspacing="0" width="100%">
        <thead>
          <h4><span class="label label-primary"><b>Available Actual Mandays - {{tagEuro.resourceType}}</b></span></h4>
          <tr>
            <th style="text-align: center; background-color:cyan;color:blue;" ng-repeat="column in tagEuro.monthlyAvailableActualMandays">{{column.key}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th style="text-align: center;color:green" ng-repeat="column in tagEuro.monthlyAvailableActualMandays">{{column.value}}</th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>