<div class="panel-body">
	<table class="table table-curved table-striped">
		<tr>
			<th class="bg-warning" width="25%">Skill</th>
			<td class="bg-warning" width="25%">{{resourcemap.skill}}</td>
			<th class="bg-warning" width="25%">Designation</th>
			<td class="bg-warning" width="25%">{{resourcemap.mappedResource.designation}}</td>
		</tr>
		<tr>
		    <th class="bg-warning" width="25%">Alias</th>
			<td class="bg-warning" width="25%">{{resourcemap.mappedResource.alias}}</td>
			<th class="bg-warning" width="25%">% Tagged to Euroclear</th>
			<td class="bg-warning" width="25%">{{resourcemap.taggToEuroclear}} %</td>		
		</tr>
		<tr>
			<th class="bg-warning" width="25%">Location</th>
			<td class="bg-warning" width="25%">{{resourcemap.location}}</td>
			<th class="bg-warning" width="25%">E-mail ID</th>
			<td class="bg-warning" width="25%">{{resourcemap.mappedResource.email}}</td>		
		</tr>	
	</table>
</div>
