
      <div class="row" ng-repeat="tagEuro in resourcemap">
        <div class="col-sm-12">
            <div class="bd-callout bd-callout-text">                  
                  
                  <div class="row">
                    <div class="col-sm-8">
                     <h4>Tagged   -  {{tagEuro.resourceType}} (%)</h4>  
                    </div>

                  <div class="col-sm-4 text-right">
                     <div >
                          <input name="action" id="action" type="radio" value="{{tagEuro._id}}">
                          <label for="action">Edit/Delete</label>
                      </div>
                  </div>
                  </div>

                    <table class="table table-striped table-curved" cellspacing="0" width="100%">                    
                    <thead>
                    <tr>
                    <th class="alert alert-info text-center" ng-repeat="column in tagEuro.taggToEuroclear">{{column.key}}</th>
                    </tr>
                    </thead>
                    <tbody>  
                    <tr>
                    <th style="text-align: center;color:green" ng-repeat="column in tagEuro.taggToEuroclear">{{column.value}}%</th>
                    </tr>
                    </tbody>
                    </table>

                    <div class="row">
                      <div class="col-sm-12">
                        <h4>Available Actual Mandays - {{tagEuro.resourceType}}</h4> 
                      </div>
                    </div>

                    <table class="table table-striped table-curved" cellspacing="0" width="100%">
                    <thead>          
                    <tr>
                    <th class="alert alert-info" ng-repeat="column in tagEuro.monthlyAvailableActualMandays">{{column.key}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                    <th style="text-align: center;color:green" ng-repeat="column in tagEuro.monthlyAvailableActualMandays">{{column.value}}</th>
                    </tr>
                    </tbody>
                    </table>
              </div>
        </div>
      </div>
