<table class="table table-striped table-curved" cellspacing="0" width="100%">
    <tbody>
        <tr>
            <td colspan="100%" style="font-weight: bold;">
                <span style="text-align: left;">ScheduleCompliance:</span>
                <span style="text-align: right;background-color:gray;">
                    <input type="text" class="form-control"    ng-model="records[0]['ScheduleCompliance']"   required="true" /> 
                </span>
            </td>
            <td colspan="100%" style="font-weight: bold;">
                <span style="text-align: left;">AverageDefectResolutionTime:</span>
                <input type="text" class="form-control"    ng-model="records[0]['AverageDefectResolutionTime']" ></input>
            </td>
            <td colspan="100%" style="font-weight: bold;">
                <span style="text-align: left;">AverageDefectDensity :</span>
                <input type="text" class="form-control"    ng-model="records[0]['AverageDefectDensity']" ></input>
            </td>
            <td colspan="100%" style="font-weight: bold;">
                <span style="text-align: left;">ProductionDefects:</span>
                <input type="text" class="form-control"    ng-model="records[0]['ProductionDefects']" ></input>
            </td>
            <td colspan="100%" style="font-weight: bold;">
                <span style="text-align: left;">SLALoss:</span>
                <input type="text" class="form-control"    ng-model="records[0]['SLALoss']"></input>
            </td>
        </tr>
        <tr>
            <td colspan="100%" style="font-weight: bold;">
                <span style="text-align: left;">OTACE:</span>
                <input type="text" class="form-control"    ng-model="records[0]['OTACE']"></input>
            </td>
            <td colspan="100%" style="font-weight: bold;">
                <span style="text-align: left;">Year:</span>
                <input type="text" class="form-control"    ng-model="records[0]['Year']"></input>
            </td>
            <td colspan="100%" style="font-weight: bold;">
                <span style="text-align: left;">Platinum:</span>
                <input type="text" class="form-control"    ng-model="records[0]['Platinum']" ></input>
            </td>
            <td colspan="100%" style="font-weight: bold;">
                <span style="text-align: left;">Gold:</span>
                <input type="text" class="form-control"    ng-model="records[0]['Gold']" ></input>
            </td>
            <td colspan="100%" style="font-weight: bold;">
                <span style="text-align: left;">Silver:</span>
                <input type="text" class="form-control"    ng-model="records[0]['Silver']" ></input>
            </td>
        </tr>
        <tr>
            <td colspan="100%" style="font-weight: bold;">
                <span style="text-align: left;">Bronze:</span>
                <input type="text" class="form-control"    ng-model="records[0]['Bronze']" ></input>
            </td>
            <td colspan="100%" style="font-weight: bold;">
                <span style="text-align: left;">Text1:</span>
                <input type="text" class="form-control"    ng-model="records[0]['Text1']" ></input>
            </td>
            <td colspan="100%" style="font-weight: bold;">
                <span style="text-align: left;">Text2:</span>
                <input type="text" class="form-control"    ng-model="records[0]['Text2']"></input>
            </td>
            <td colspan="100%" style="font-weight: bold;">
                <span style="text-align: left;">Text3:</span>
                <input type="text" class="form-control"    ng-model="records[0]['Text3']"></input>
            </td>
            <!--<td colspan="100%" style="font-weight: bold;">
                    <span style="text-align: left;">Business role :</span>
                    <span style="text-align: right;background-color:gray;color:yellow;">{{records[0]['Business role']}}</span>
                </td>-->
        </tr>
        <!--<tr>
                <td colspan="100%" style="font-weight: bold;">
                    <span style="text-align: left;">Notes Name :</span>
                    <span style="text-align: right;background-color:gray;color:yellow;">{{records[0]['Notes Name']}}</span>
                </td>
                <td colspan="100%" style="font-weight: bold;">
                    <span style="text-align: left;">Job Location :</span>
                    <span style="text-align: right;background-color:gray;color:yellow;">{{records[0]['Job Location']}}</span>
                </td>
                <td colspan="100%" style="font-weight: bold;">
                    <span style="text-align: left;">Limosa declaration need :</span>
                    <span style="text-align: right;background-color:gray;color:yellow;">{{records[0]['Limosa declaration need']}}</span>
                </td>
                <td colspan="100%" style="font-weight: bold;">
                    <span style="text-align: left;">Billing Type :</span>
                    <span style="text-align: right;background-color:gray;color:yellow;">{{records[0]['Billing Type']}}</span>
                </td>
    
            </tr>-->
            

    </tbody>
</table>