main{
	padding-top:30px;
}


heade .nabar {
	border-radius:0px;
}


.show-hide-message.ng-hide-remove{
	-webkit-animation:zoomIn 0.3s both ease;
	-moz-animation:zoomIn 0.3s both ease ;
	animation:zoomIn 0.3s both ease ;
}


.spinner {
	-webkit-animation:spin 1s Infinite;
	-moz-animation:spin 1s Infinite;
	animation:spin 1s Infinite;
}

@keyframes spin{
	from {-webkit-transform:route(0deg);}
	to {-webkit-transform:route(360deg);}
}

@-moz-keyframes spin{
	from {-moz-transform:route(0deg);}
	to {-moz-transform:route(360deg);}
}



/*customnavbar CSS */

.navbar-custom {
    background-color:#00264A;
    color:#ffffff;
    border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
    color:#fff;
}

.navbar-custom .navbar-nav > .active > a {
    color: #ffffff;
    background-color:transparent;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open >a {
    text-decoration: none;
    background-color: #11598B;
}

.navbar-custom .navbar-brand {
    color:#eeeeee;
}
.navbar-custom .navbar-toggle {
    background-color:#eeeeee;
}
.navbar-custom .icon-bar {
    background-color:#11598B;
}

/* for dropdowns only */
.navbar-custom .navbar-nav .dropdown-menu  { 
  background-color: #11598B;
  font-size:90%;
}
.navbar-custom .navbar-nav .dropdown-menu>li>a  { 
  color: #fff;
}
.navbar-custom .navbar-nav .dropdown-menu>li>a:hover,.navbar-custom .navbar-nav .dropdown-menu>li>a:focus  { 
  color: #11598B;
}
/* END Custom Navbar CSS */


.table-curved {
   border-collapse: separate;
   border: solid #ccc 1px;
   border-radius: 6px;
   border-left: 0px;
   border-top: 0px;
}
.table-curved > thead:first-child > tr:first-child > th {
    border-bottom: 0px;
    border-top: solid #ccc 1px;
}
.table-curved td, .table-curved th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
.table-curved > :first-child > :first-child > :first-child {
    border-radius: 6px 0 0 0;
}
.table-curved > :first-child > :first-child > :last-child {
    border-radius: 0 6px 0 0;
}
.table-curved > :last-child > :last-child > :first-child {
    border-radius: 0 0 0 6px;
}
.table-curved > :last-child > :last-child > :last-child {
    border-radius: 0 0 6px 0;
}

.error {    
    border-color: #a94442 !important;
}

.gi-2x{font-size: 2em;}
.gi-3x{font-size: 3em;}
.gi-4x{font-size: 4em;}
.gi-5x{font-size: 5em;}
.gi-6x{font-size: 6em;}


.colorgraph {
  height: 5px;
  border-top: 0;
  background: #51B5E2;//#c4e17f
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #51B5E2);
  background-image: -moz-linear-gradient(left,  #51B5E2);
  background-image: -o-linear-gradient(left, #51B5E2);
  background-image: linear-gradient(to right, #51B5E2);//#62c2e4
}