<div style="width:1050px; overflow-x:scroll ;  padding-bottom:10px;"> 
<table class="table table-striped">
        <tr style="font-weight:bold">
            <td width="150" style='text-align:center;'>Month :</td>
            <td align="center" ng-repeat="month in allocation.allocationmonth">{{month.label}}</td>
        </tr>
        <tr>
            <td width="150" style='text-align:center; font-weight:bold;'>Allocation:</td>
            <td align="center" ng-repeat="alloc in allocation.allocationmonth">{{alloc.allocationValues}}</td>
        </tr>

</table>
</div> 