<span class="label label-primary" style="height: 100%;font:bold;font: 15px arial, sans-serif;" >Project Allocation</span>
	<div class="well well-md"  style="height:150px;">
		<form class="form-horizontal" name="allocationForm">
		
		<div class="row">
			<div class='col-sm-5'>
				<label>Start Date:</label>
         		<input type="text"  ng-model="startDate" id = "startDt"  ng-required="true" class="form-control"/>
			</div>
			<div class='col-sm-5'>
				<label>End Date:</label>
         		<input type="text"  ng-model="endDate" id = "endDt" n ng-required="true" class="form-control"/>
			</div>
			<div class='col-sm-2' style="padding-top: 30px">
				<button class="btn btn-primary" type="button" ng-click="createAllocation()">Projection</button> 
			</div>
		</div>
		<div class="row" allign="right">
			
			<div class='col-sm-10'>
				<label>Resources:</label>	
				<select id="resource-select"  ng-model="resource" required multiple="multiple" multi-select></select>
			</div>
			<div class='col-sm-2'></div>
			
		</div>
		</br>
		</form>	
  	</div>	

  	<!-- Datatable Begins -->

	<div class="well well-md" style="border: 1px;  display: {{detailDiv === false ?'none' : 'true'}};">
		<div class="panel panel-default panel-table" id="searchresult">
			<div class="panel-body">
				<table class="table table-striped" datatable="ng" dt-options="vm.dtOptions" dt-instance="vm.dtInstance">
		            <thead>
		              <tr>
		              	<th>Action</th>
		                <th>Name</th>
		                <th>Project</th>
		                <!-- <th>Month</th> -->
		                <th>Tagged%</th>
		               <!--  <th align="center">Allocation</th> -->
		               <!--  <th align="center">Available Mandays</th> -->
		                <!-- <th align="center">%Allocation</th> -->
		              </tr>
		            </thead>
		            <tbody >
							  <tr ng-repeat="allocation in allocationList">
								<td align="center"><a class="green shortinfo" href="javascript:;" ng-click="childInfo(allocation, $event)" title="Click to view more"><i class="glyphicon glyphicon-plus-sign"></a></td>
								<td>{{allocation.resource}}</td>
								<td>{{allocation.project}}</td>
								<!-- <td>{{allocation.month}}</td> -->
								<td>{{allocation.tagToEuroclear}}</td>
								<!-- <td>{{allocation.allocation}}</td> -->
								<!-- <td>{{allocation.availableMandays}}</td> -->
								<!-- td align="center">{{allocation.allocation}}</td> -->
							  </tr>

					</tbody>
       			</table>
			</div>
	   </div>
	</div>

	<!-- Create and Edit Datatable -->

	<div class="well well-md" style="border: 1px;  display: {{detailDiv === true ? 'none' : 'true'}};">
		<div class="panel panel-default panel-table" id="searchresult">
			<div class="row" allign="right" style="padding-top: 2px">
						<div class='col-sm-10'/>
						<div class='col-sm-2'>
							<button class="btn btn-primary" type="button" ng-click="saveAllocation()">Save</button>
							<button class="btn btn-primary" type="button" ng-click="cancel()">Cancel</button> 
						</div>
			</div>
			<div class="panel-body" style="overflow: scroll;">
				<table class="table table-bordered table-hover table-condensed">
					<thead>
						<tr>
					      	<th>Resource</th>
					      	<th>Project</th>
					      	<th ng-repeat="data in months">{{data.label}}</th>
					      	<th>Action</th>
					    </tr>
				    <thead>
				    <tbody>
					    <tr ng-repeat="allocRows in resourceWiseAllocaiton">
					      <td>
					        <span editable-text="allocRows.resource" e-name="resource" e-form="rowform" >
					          {{ allocRows.resource }}
					        </span>
					      </td>
					      <td>
					      	<span editable-select="allocRows.project" e-name="project" e-form="rowform" >
					          <select  ng-model="allocRows.project" ng-options="item.projectname as item.projectname for item in project"/>
					        </span>
					      </td>
					      <td ng-repeat="months in allocRows.allocationmonth">
					      	<span editable-select="alloc.tag" e-name="tag"  e-form="rowform">
					           <input type="text"  name="tagged" ng-model="months.allocationValues"  maxlength="4" size="4"/>
					        </span>
					      </td>
	     				   <td style="white-space: nowrap">
						        <div class="buttons">
						          <button type="button" class="btn btn-primary" ng-click="clearAllocation()">
						          	Clear</button>
						          <button type="button" class="btn btn-danger" ng-click="removeUser($index)">Delete</button>
						        </div>  
	      					</td>
	    				</tr>
	    			</tbody>
  				</table>
			</div>
	   </div>
	</div>
    
    <script>
	   $('#resource-select').multiselect();
		
      $( "#startDt" ).datepicker({
         //appendText:"(dd-MMM-yy)",
         dateFormat:"dd-MM-yy",
         minDate: new Date()
         //showOn:"button",
         //buttonImage: "/images/calendar-icon.png",
         //buttonImageOnly: true
      });
	  
	  $( "#endDt" ).datepicker({
         //appendText:"(dd-MMM-yy)",
         dateFormat:"dd-MM-yy",
         minDate: new Date()
         //showOn:"button",
         //buttonImage: "/images/calendar-icon.png",
         //buttonImageOnly: true
      });


   </script>
 