<style>
#detail {
  table-layout: fixed; 
  width: 100%;
}

#detail td, th {
  vertical-align: top;
  padding: 10px;
  width: 100px;
}

.inner {
  overflow-x: scroll;
  overflow-y: visible;
  width: 1050px; 
}
</style>

<div class="inner">
    <table id="detail" class="table table-striped">
      	<thead>	
	      <tr>
	        <th align="center">Month</th>
	        <th align="center" ng-repeat="month in monthLabel">{{month}}</th>
		   </tr>
	      <tr>
	    </thead> 
	    <tbody ng-repeat="allocRecords in allocCollection">
	    	<tr>
	    		<td style="font-weight: bold;">Project</td>
	    		<td align="center" colspan="10" style="font-weight: bold;">
		    		<font color="green">{{allocRecords.project}}
		    		</font>
	    		</td>
	    	</tr>
	    	<tr>
	    		<td style="font-weight: bold;" align="left">Allocation</td>

		    	<td ng-repeat="monthlyAlloc in allocRecords.allocation"> 
		    				 			 <input type="text" ng-model="monthlyAlloc.allocationValues" maxlength="2" size="2" value="{{monthlyAlloc.allocationValues}}"/> 
		    				 			
		    	 	
	    	 	</td>
	    	</tr>	
	    </tbody> 	
    </table>
  </div>
