<div class="well well-md" style="border: 1px; overflow-x:scroll ;  padding-bottom:10px;"> 
	<table class="table table-striped">
			<thead>
				<tr style="font-weight:bold" ng-repeat="alloc in allocCollection">
		            <td width="150" style='text-align:center;'>Month :</td>
		            <td align="center" ng-repeat="month in alloc.allocation">{{month.label}}
		            </td>
	        	</tr> 
			</thead>
			<tbody>
	        	<!-- <tr ng-repeat="alloc in allocCollection | resourcewise:resource">
		            <td width="150" style='text-align:center; font-weight:bold;'>{{alloc.project}}</td> 
		            <td align="center" ng-repeat="data in alloc.allocation">
		            	<input type="text" name="input" ng-model="alloc.project"
           							ng-pattern="example.word" value="alloc.project" maxlength="2" size="2" required ng-trim="false"/>
		            </td>
		        </tr> -->
	        <tbody>

	</table>
</div>
