<form name="createAllocationForm" ng-submit="" novalidate ng-controller="createAllocationCtrl">
  <legend>Create Allocation</legend>
  <div class="container-fluid panel panel-info">
    <div class="panel-heading" align="center">
      <div class='row'>
        <div class='col-sm-3'>
          <div class="form-group">
            <label for startDate>Allocation Start Month:</label>
            <div class="input-group date form_date " data-date-format="dd MM yyyy" data-link-format="yyyy-mm-dd">
              <input class="form-control" type="text" ng-model="startDate" class="form-control" readonly>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
        </div>
        <div class='col-sm-3'>
          <div class="form-group">
            <label for startDate>Allocation End Month:</label>
            <div class="input-group date form_date " data-date-format="dd MM yyyy" data-link-format="yyyy-mm-dd">
              <input class="form-control" type="text" ng-model="endDate" class="form-control" readonly>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
        </div>
        <div class='col-sm-6' style="padding-top:.5cm;">
          <div class=form-group>
            <label for="resource">Resources:</label>
            <!-- <select id="resource-select" id="resource" ng-model="resource" required multiple="multiple" multi-select class="form-control"></select> -->

            <input list="resource" type="text" ng-model="resource" style="width: 290px; padding: 2px" required>
            <datalist id="resource">
              <option ng-repeat="resource in mappedResourceData" value="{{resource.mappedResource.resourcename}}">
            </datalist>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-sm-10'>
          <div align="right">
            <button id="projectBtn" class="btn btn-primary" type="button" ng-click="clearFields();createAllocation()">Projection</button>
            <button id="clrBtn" class="btn btn-warning" ng-click="clearFields()" type="button" style="display:none">Clear</button>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-body" ng-show="loading || successMsg || errorMsg">
      <div class="row">
        <div class='col-sm-12'>
          <div class="jumbotron text-center" ng-show="loading">
            <span class="glyphicon glyphicon-repeat spinner"></span>
            <p>Loading...</p>
          </div>
          <div class="row show-hide-message" ng-show="successMsg">
            <div class="alert alert-success">{{successMsg}}</div>
          </div>
          <div class="row show-hide-message" ng-show="errorMsg">
            <div class="alert alert-danger">{{errorMsg}}</div>
          </div>
        </div>
      </div>
    </div>


    <div class="panel-footer" style='overflow-y:visible; display:{{hidden}}'>
      <div class="row" allign="right" style="padding-top: 2px">
        <!--<div class='col-sm-10' />
        <div class='col-sm-2'>
          <button class="btn btn-primary" type="button" ng-click="saveAllocation();clearFields()">Save</button>
        </div>
      </div>-->
        <div class="panel-body form-group" style="overflow: scroll;">
          <table class="table table-striped table-curved" cellspacing="0" width="100%" style="text-align:center">
            <thead>
              <tbody>
                <tr ng-repeat="allocRows in resourceWiseAllocaiton" id="{{$index}}">
                  <td>
                    <label for="resourcename">Resource Name</label>
                    <span id="resourcename" class="form-control" editable-text="allocRows.resource" e-name="resource" e-form="rowform">
                      {{ allocRows.resource }}
                    </span>
                  </td>
                  <td>
                    <label for="resourcetype">Resource Type</label>
                    <span id="resourcetype" editable-select="allocRows.resourcetype" e-name="resourcetype" e-form="rowform">
                      <select class="form-control" ng-model="allocRows.resourcetype" ng-options="item.resourceTypename as item.resourceTypename for item in resourceTypeList"
                        ng-change="dataChanged();" />
                    </span>
                  </td>
                  <td>
                    <label for="project">Project</label>
                    <span id="project" editable-select="allocRows.project" e-name="project" e-form="rowform">
                      <select class="form-control" ng-model="allocRows.project" ng-options="item.projectname as item.projectname for item in project | projectfilter:'Vacation'"
                        ng-change="dataChanged();" />
                    </span>
                  </td>
                  <td ng-repeat="months in allocRows.allocation">
                    <label for="{{months.month}}">{{months.month}}</label>
                    <span editable-select="alloc.tag" e-name="tag" e-form="rowform">
                      <input id={{months.month}} class="form-control" type="text" name="tagged" ng-model="months.value" maxlength="4" size="4"
                        ng-change="dataChanged();" />
                    </span>
                  </td>
                  <td style="white-space: nowrap">
                    <div class="row" allign="right" style="padding-top: 10px"">
                      <button type="button" class="btn btn-primary" ng-click="clearAllocation($index)">
                        Clear</button>
                      <button class="btn btn-primary" type="button" ng-click="saveAllocation()">Save</button>
                      <!--<button type="button" class="btn btn-danger" ng-click="removeAllocation($index)">Delete</button>-->
                    </div>
                  </td>
                </tr>
              </tbody>
          </table>
        </div>
      </div>
</form>

<script>
  $('#resource-select').multiselect();

  $('.form_date').datetimepicker({
    format: "mm/yyyy",
    startView: "year",
    minView: "year",
    autoclose: 1,
    startDate: '-0m'
  });

</script>