<table class="table table-striped table-curved" cellspacing="0" width="100%">
    <thead>

    </thead>
    <tbody>
        <tr>
            <td colspan="100%" style="font-weight: bold;">
                <span style="text-align: left;">Department :</span>
                <span style="text-align: right;background-color:gray;color:yellow;">{{records[0]['Dept']}}</span>
            </td>
            <td colspan="100%" style="font-weight: bold;">
                <span style="text-align: left;">Responsible PMO :</span>
                <span style="text-align: right;background-color:gray;color:yellow;">{{records[0]['Responsible PMO']}}</span>
            </td>
            <td colspan="100%" style="font-weight: bold;">
                <span style="text-align: left;">Date of the Report :</span>
                <span style="text-align: right;background-color:gray;color:yellow;">{{records[0]['Date of the Report']}}</span>
            </td>
            <td colspan="100%" style="font-weight: bold;">
                <span style="text-align: left;">Designation :</span>
                <span style="text-align: right;background-color:gray;color:yellow;">{{records[0]['Designation']}}</span>
            </td>
            <td colspan="100%" style="font-weight: bold;">
                <span style="text-align: left;">Account1 :</span>
                <span style="text-align: right;background-color:gray;color:yellow;">{{records[0].Account1}}</span>
            </td>
        </tr>
        <tr>
            <td colspan="100%" style="font-weight: bold;">
                <span style="text-align: left;">Project Number :</span>
                <span style="text-align: right;background-color:gray;color:yellow;">{{records[0]['Project Number']}}</span>
            </td>
            <td colspan="100%" style="font-weight: bold;">
                <span style="text-align: left;">Opportunity Name :</span>
                <span style="text-align: right;background-color:gray;color:yellow;">{{records[0]['Opportunity Name']}}</span>
            </td>
            <td colspan="100%" style="font-weight: bold;">
                <span style="text-align: left;">Project Start Date :</span>
                <span style="text-align: right;background-color:gray;color:yellow;">{{records[0]['Project Start Date']}}</span>
            </td>
            <td colspan="100%" style="font-weight: bold;">
                <span style="text-align: left;">Project Roll-off Date :</span>
                <span style="text-align: right;background-color:gray;color:yellow;">{{records[0]['Project Roll-off Date']}}</span>
            </td>
            <td colspan="100%" style="font-weight: bold;">
                <span style="text-align: left;">Entity :</span>
                <span style="text-align: right;background-color:gray;color:yellow;">{{records[0]['Entity']}}</span>
            </td>
        </tr>
        <tr>
            <td colspan="100%" style="font-weight: bold;">
                <span style="text-align: left;">Billability :</span>
                <span style="text-align: right;background-color:gray;color:yellow;">{{records[0]['Billability']}}</span>
            </td>
            <td colspan="100%" style="font-weight: bold;">
                <span style="text-align: left;">Release month :</span>
                <span style="text-align: right;background-color:gray;color:yellow;">{{records[0]['Release month']}}</span>
            </td>
            <td colspan="100%" style="font-weight: bold;">
                <span style="text-align: left;">Gender :</span>
                <span style="text-align: right;background-color:gray;color:yellow;">{{records[0]['Gender (Male/ Female)']}}</span>
            </td>
            <td colspan="100%" style="font-weight: bold;">
                <span style="text-align: left;">Grade (Derived from Desgn Mapping) :</span>
                <span style="text-align: right;background-color:gray;color:yellow;">{{records[0]['Grade (Derived from Desgn Mapping)']}}</span>
            </td>
            <td colspan="100%" style="font-weight: bold;">
                <span style="text-align: left;">Billability from Productive point of view :</span>
                <span style="text-align: right;background-color:gray;color:yellow;">{{records[0]['Billability from Productive point of view']}}</span>
            </td>
        </tr>
        <tr>
            <td colspan="100%" style="font-weight: bold;">
                <span style="text-align: left;">Account Group :</span>
                <span style="text-align: right;background-color:gray;color:yellow;">{{records[0]['Account Group']}}</span>
            </td>
            <td colspan="100%" style="font-weight: bold;">
                <span style="text-align: left;">Account BU :</span>
                <span style="text-align: right;background-color:gray;color:yellow;">{{records[0]['Account BU']}}</span>
            </td>
            <td colspan="100%" style="font-weight: bold;">
                <span style="text-align: left;">Country of Work for "Landed" or Country of Client for "Offshore" :</span>
                <span style="text-align: right;background-color:gray;color:yellow;">{{records[0]['Country of Work for "Landed" or Country of Client for "Offshore" ']}}</span>
            </td>

        </tr>

    </tbody>
</table>