<div class="row" style="margin-top:200px">
<div class="col-xs-12 col-sm-10 col-md-6 col-sm-offset-2 col-md-offset-3">
<div class="panel panel-default" >
  <div class="panel-body">
    <div class="row" >
    <div class="col-xs-12">
    <form role="form" ng-submit="main.doLogin(loginData)">
      <fieldset>
      <img src="assets\images\dandmlogo.png" alt="Demand & Capacity" class="pull-right img-responsive">
        <h2>Please Sign In</h2>
        <hr class="colorgraph">
        <div class="form-group">
                    <input type="text" class="form-control input-lg" name="username" placeholder="Please Enter Username" ng-model="main.loginData.username">
        </div>
        <div class="form-group">
                    <input type="password" class="form-control input-lg" name="password" placeholder="Please Enter Password" ng-model="main.loginData.password">
        </div>
        <hr class="colorgraph">
        <div class="row" >
          <div class=""  >
                        <input type="submit" class="btn btn-lg btn-success " style="position: absolute; right:10%"  value="Sign In">
          </div>
          <!-- <div class="col-xs-6 col-sm-6 col-md-6" style="visibility: hidden">
            <a href="" class="btn btn-lg btn-primary btn-block">Register</a>
          </div> -->
        </div>
        <span class="button-checkbox" style="visibility: hidden">
          <div class="checkbox" >
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
          <a href="" class="btn btn-link pull-right">Forgot Password?</a>
        </div>
          
        </span>
       
       
      </fieldset>
    </form>
  </div>
</div>
  </div>
</div>
</div>
</div>

<div class="jumbotron text-center" ng-show="main.loading">
	<span class="glyphicon glyphicon-repeat spinner"></span>
	<p>Loading...</p>
</div>


<div class="row show-hide-message" ng-show="main.successMsg">
	<div class="alert alert-success">{{main.successMsg}}</div>
</div>


<div class="row show-hide-message" ng-show="main.errorMsg">
	<div class="alert alert-danger">{{main.errorMsg}}</div>
</div>


